#container {
    position: absolute;
    backdrop-filter: blur(15px);
    width: 100vw;
    height: 100vh;
    top: 0;
}
#submit {
    background-color: grey;
    color: #eee;
    border: none;
    margin: auto auto auto auto;
    width: 10vw;
    height: 5vh;
    font-size: 1.5vw;
}

#submit:hover {
    background-color: forestgreen;
}

#form{

    height: auto;
    min-height: 20vw;
    width: 100vw;
    max-width: 500px;
    background-color: rgba(40,45,53,1);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10%;
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 2vh 2vw 2vh 2vw;
}

#form *{
    font-family: 'Helvetica Neue', sans-serif;
    color: #ffffff;
    outline: none;
    border: none;
    alignment: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

#form label {
    display: flex;
    text-align: center;
    margin-top: 5%;
    font-size: 14px;
    font-weight: 500;

}
#nomejogador1 {
    display: flex;
    height: 70%;
    width: 80%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: 300;
    margin: 2vh auto 5vh auto;

}

#numeroDeColunas{
    display: flex;
    height: 70%;
    width: 30%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: 300;
    margin: 2vh auto 5vh auto;
}

#numeroDeLinhas{
    display: flex;
    height: 70%;
    width: 30%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: 300;
    margin: 2vh auto 5vh auto;
}


::placeholder{
    color: grey;
}

#game {
    margin-top: 3%;
    width: 100vw;
}

.game_box {
    margin-left: auto;
    margin-right: 6%;
    max-width: 800px;
    width: 80%;
    display: grid;
    background-color: #0B0B0C;
    padding: 0.5em;
    gap: 0.5em;
}

#menu{
    margin-right: 5%;
    margin-top: 2%;
    background-color: aliceblue;
    padding: 0.5em;
    width: 25%;
    border-radius: 10px;
}

#menu #logo{
    width: 100%;
    height: 100%;
    background-image: url("img/Memory_Logo.png");
    background-size: cover;
    display: block;
    aspect-ratio: 1;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

#menu {
    text-align: center;
}
._3lines {
    grid-template-columns: 1fr 1fr 1fr;
}
._4lines {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
._5lines {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
._6lines {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
._7lines {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
._8lines {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
._9lines {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
._10lines {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.card {
    display: block;
    aspect-ratio: 1;
    background-color: rgba(255, 255, 255, 0.8);
    perspective: 1000px;
}

/* Para virar as cartas: https://www.w3schools.com/howto/howto_css_flip_card.asp */

.card_inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card.selected .card_inner {
    transform: rotateY(180deg);
}

.card_front, .card_back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card_front {
    text-align: center;
    background-color: #bbb;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_front h1 {
    font-size: 10vmin;
}

.card_back {
    transform: rotateY(180deg);
}

.dofus{
    height: 100%;
    background-image: url("img/icons8-dofus.svg");
    background-size: cover;
}

.candy-crush{
    height: 100%;
    background-image: url("img/icons8-candy-crush.svg");
    background-size: cover;
}

.fall-guys{
    height: 100%;
    background-image: url("img/icons8-fall-guys.svg");
    background-size: cover;
}

.fortnite{
    height: 100%;
    background-image: url("img/icons8-fortnite.svg");
    background-size: cover;
}

.grand-theft-auto-v{
    height: 100%;
    background-image: url("img/icons8-grand-theft-auto-v.svg");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center center;

}

.pokemon-go{
    height: 100%;
    background-image: url("img/icons8-pokemon-go.svg");
    background-size: cover;
}

.visual-game-boy{
    height: 100%;
    background-image: url("img/icons8-visual-game-boy.svg");
    background-size: cover;
}

.warframe{
    height: 100%;
    background-image: url("img/icons8-warframe.svg");
    background-size: cover;
}

.world-of-warcraft{
    height: 100%;
    background-image: url("img/icons8-world-of-warcraft.svg");
    background-size: cover;
}

.vale-de-stardew{
    height: 100%;
    background-image: url("img/icons8-vale-de-stardew.svg");
    background-size: cover;
}

.spore{
    height: 100%;
    background-image: url("img/icons8-spore.svg");
    background-size: cover;
}
.skyrim{
    height: 100%;
    background-image: url("img/icons8-skyrim.svg");
    background-size: cover;
}
.liga-de-foguetes{
    height: 100%;
    background-image: url("img/icons8-liga-de-foguetes.svg");
    background-size: cover;
}
.ps4{
    height: 100%;
    background-image: url("img/icons8-ps4.svg");
    background-size: cover;
}
.osu{
    height: 100%;
    background-image: url("img/icons8-osu.svg");
    background-size: cover;
}
.nintendo-switch-logo{
    height: 100%;
    background-image: url("img/icons8-nintendo-switch-logo.svg");
    background-size: cover;
}
.minecraft-dungeons{
    height: 100%;
    background-image: url("img/icons8-minecraft-dungeons.svg");
    background-size: cover;
}
.league-of-legends{
    height: 100%;
    background-image: url("img/icons8-league-of-legends.svg");
    background-size: cover;
}
.hollow-knight{
    height: 100%;
    background-image: url("img/icons8-hollow-knight.svg");
    background-size: cover;
}
.hearthstone{
    height: 100%;
    background-image: url("img/icons8-hearthstone.svg");
    background-size: cover;
}

.genshin-impact{
    height: 100%;
    background-image: url("img/icons8-genshin-impact.svg");
    background-size: cover;
}

.gta-5{
    height: 100%;
    background-image: url("img/icons8-gta-5.svg");
    background-size: cover;
}

.final-fantasy-xiv{
    height: 100%;
    background-image: url("img/icons8-final-fantasy-xiv.svg");
    background-size: cover;
}

.dota{
    height: 100%;
    background-image: url("img/icons8-dota.svg");
    background-size: cover;
}

.doom-logo{
    height: 100%;
    background-image: url("img/icons8-doom-logo.svg");
    background-size: cover;
}
.contra-ataque{
    height: 100%;
    background-image: url("img/icons8-contra-ataque.svg");
    background-size: cover;
}
.call-of-duty-black-ops-4{
    height: 100%;
    background-image: url("img/icons8-call-of-duty-black-ops-4.svg");
    background-size: cover;
}
.among-us{
    height: 100%;
    background-image: url("img/icons8-among-us.svg");
    background-size: cover;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #45464C;
}