.game_box {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #0B0B0C;
    padding: 10px;
    gap: 10px;
}
.card {
    display: block;
    aspect-ratio: 1;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;

}

.dofus{
    margin: auto;
    height: 100%;
    background-image: url("img/icons8-dofus.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #45464C;
}