body {
    background-image: url("backgroundCode.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
}

.botão {
    border-radius: 10px;
    font-size: 6vw;
    width: 10vw;
    height:10vw;
}

.botão {
    border-radius: 4px;
    margin:0.01em;
    border: white;
    box-sizing: border-box;
    text-align:center;
    position:relative;
}
.botão:active{
    top:0.1em;
}

.jogo{
    margin-top: 5%;
    box-sizing: border-box;
}

#jogador {
    display: inline;
}

#reiniciar {
    font-family: 'Helvetica Neue', sans-serif;
    box-sizing: content-box;
    margin-top: 2%;
    width: 8vw;
    height:4vw;
    font-size: 1.5vw;
    color: black;
}

h2 {
    position: fixed;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 2vw;
    bottom: 2%;
    top: 30%;
    left: 5%;
    right: 70%;
    color: white;
}

span {
    font-size: 3vw;
}

p {
    position: fixed;
    color: white;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 2vw;
    bottom: 2%;
    top: 0;
    left: 93%;
    right: 5%;
}

#gif {
    position: fixed;
    bottom: 50%;
    top: 75%;
    left: 87%;
    right: 10%;
    width: 10vw;
    height: 10vw;
}

#gif2 {
    position: fixed;
    bottom: 10%;
    top: 75%;
    left: 10%;
    right: 99%;
    width: 8vw;
    height: 8vw;
}

h3 {
    font-size: 25px;
}

h5 {
    padding-top: 1%;
    padding-bottom: 5%;
    margin-bottom: auto;
}

#form{
    height: auto;
    min-height: 20vw;
    width: 25vw;
    background-color: rgba(40,45,53,1);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 2px 2px 2px 2px;
    overflow: hidden;
}

#form *{
    font-family: 'Helvetica Neue', sans-serif;
    color: #ffffff;
    outline: none;
    border: none;
    alignment: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

label {
    display: flex;
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    font-weight: 500;
}

#nomejogador1 {
    display: flex;
    height: 70%;
    width: 80%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: 300;
    margin: 2vh auto auto auto;
}
::placeholder{
    color: grey;
}
#nomejogador2 {
    display: flex;
    width: 80%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: 300;
    margin: 2vh auto 15vh auto;
}

#container {
    position: absolute;
    backdrop-filter: blur(15px);
    width: 100vw;
    height: 100vh;
    top: 0;
}

#submit {
    background-color: grey;
    color: #eee;
    border: none;
    margin: auto auto 30%;
    width: 10vw;
    height: 5vh;
    font-size: 1.5vw;
}

#submit:hover {
    background-color: forestgreen;
}