body {
    background-image: url("backgroundCode.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
}

.botão {
    border-radius: 4px;
    margin: 0.01em;
    border: white;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    font-size: 6vw;
    width: 10vw;
    height: 10vw;
    cursor: pointer;
}

.botão:active {
    top: 0.1em;
}

.jogo {
    margin-top: 5%;
    box-sizing: border-box;
}

#reiniciar {
    font-family: 'Helvetica Neue', sans-serif;
    box-sizing: content-box;
    margin-top: 2%;
    width: 8vw;
    height: 4vw;
    font-size: 1.4vw;
    color: black;
    border: 2px solid black;
    box-shadow: 4px 4px gray;
    cursor: pointer;
}

#jogadoresEronda {
    /*alterar aqui sitio detodos*/
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 2vw; /*altera so ronda*/
    color: white;
    position: fixed;
    top: 20vh;
    right: 83vw;
    align-content: center;
    alignment: center;
    align-items: center;
    text-align: center;
}

#indicadorJogador {
    font-size: 2vw;
}

#jogador {
    position: absolute;
    font-size: 3vw;
    font-family: 'Helvetica Neue', sans-serif;
    white-space: nowrap;
    text-align: center;
    translate: -50% -1%;
    line-break: auto;
}

h4, #contadorRonda {
    margin-top: 100%;
}

p {
    position: fixed;
    color: white;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 2vw;
    bottom: 2%;
    top: 0;
    left: 93%;
    right: 5%;
}

#gif {
    position: fixed;
    bottom: 50%;
    top: 75%;
    left: 87%;
    right: 10%;
    width: 10vw;
    height: 10vw;
}

#gif2 {
    position: fixed;
    bottom: 10%;
    top: 75%;
    left: 10%;
    right: 300%;
    width: 8vw;
    height: 8vw;
}

h3 {
    font-size: 25px;
}

h5 {
    padding-top: 1%;
    padding-bottom: 5%;
    margin-bottom: auto;
}

#form {
    height: auto;
    min-height: 20vw;
    width: 25vw;
    background-color: rgba(40, 45, 53, 1);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 2px 2px 2px 2px;
    overflow: hidden;
}

#form * {
    font-family: 'Helvetica Neue', sans-serif;
    color: #ffffff;
    outline: none;
    border: none;
    alignment: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

label {
    display: flex;
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    font-weight: 500;
}

#nomejogador1 {
    display: flex;
    height: 70%;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: 300;
    margin: 2vh auto auto auto;
}

::placeholder {
    color: grey;
}

#nomejogador2 {
    display: flex;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: 300;
    margin: 2vh auto 15vh auto;
}

#container {
    position: absolute;
    backdrop-filter: blur(15px);
    width: 100vw;
    height: 100vh;
    top: 0;
}

#submit {
    background-color: grey;
    color: #eee;
    margin: auto auto 30%;
    width: 10vw;
    height: 5vh;
    font-size: 1.5vw;
    cursor: pointer;
}

#submit:hover {
    background-color: forestgreen;
    transition-duration: 0.1s;
}

#jogadores {
    position: fixed;
    top: 16vh;
    left: 75vw;
    float: right;
    align-content: center;
    align-items: center;
    text-align: center;
}

#jogador1 {
    color: white;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 3vw;
    margin-bottom: -10%;
}

#jogador2 {
    color: white;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 3vw;
    margin-bottom: -10%;
}

#scoreX {
    color: white;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 2.5vw;
    margin-bottom: -10%;
}

#scoreO {
    color: white;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 2.5vw;
    margin-bottom: -10%;

}